ul {
    margin: 0px;
    list-style: none;
    max-height: 260px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 80px;
    padding: 0px;
    height:200px;
  }

.TodoList{
  width: 90%;
}

.TodoList__ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
ul::-webkit-scrollbar {
  display: none;
}


@media only screen and (max-width: 640px)
{
  ul{
    border-radius:20px;
    background: rgba(0,0,0,0.2) ;
    padding: 0px;
    margin:0px;
    height:350px;
   }
}