.TodoSearch{
    display: flex;
    align-items: center;
    width: 80%;
}
.TodoSearch__input{
    background: transparent;
    height:35px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    border: 2px solid white;
    outline: none;
    font-size: 20px;
    font-family: 'Montserrat';
    color:white;
}

.TodoSearch__input::placeholder {
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
  }

.TodoSearch__important{
    margin-left: 10px;
}

.TodoSearch__important--active{
    color:red;
  }