.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    height:10%;
    width: 100%;
    border-left: 10px solid transparent;
  }

  .TodoItem--active{
    border-left: 10px solid red;
  }
  
  .TodoItem-p {
    margin: 20px 10px 20px 10px;
    width: calc(100% - 150px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    overflow:hidden;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
    color: #4caf50 ;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:30px;
    font-size: 24px;
    font-weight: bold;
    padding:10px;
  }

  .Icon-delete{
    display:flex;
    justify-content: center;
  }
  .Icon-delete:hover{
    color: red;
  }

  .Icon-important{
    display:flex;
    justify-content: center;
  }

  .Icon-important--active{
    color:red;
  }

  @media only screen and (max-width: 600px){
    .Icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height:30px;
      width:30px;
      font-size: 24px;
      font-weight: bold;
      padding:5px;
    }
    .Icon-delete{
      color: red;
    }

  }