.TodoSearch{
    margin: 0px;
    display:flex;
    flex-direction: column;
}

.TodoSearch__inputAndImp{
    display: flex;
    align-items: center;
    width: 100%;
}
.TodoSearch__inputAndImp-input{
    background: transparent;
    height:35px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    border: 2px solid white;
    outline: none;
    font-size: 20px;
    font-family: 'Montserrat';
    color:white;
}

.TodoSearch__inputAndImp-input::placeholder {
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
  }

.TodoSearch__inputAndImp-imp{
    margin-left: 10px;
}

.TodoSearch__inputAndImp-impActive{
    color:red;
}

.TodoSearch__button{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.TodoSearch__button-style{
    margin: 5px;
    width:80px;
    background-color:rgba(255,255,255,0.2);
    padding: 5px;
    border-radius: 5px;
    border: 0px solid transparent;
}

.TodoSearch__button-style:hover{
    background-color:rgba(255,255,255,0.5);
}

.TodoSearch__button-active{
    background-color:rgba(255,255,255,0.5);
}